<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Healthcheck app</a>
      <button type="button" class="btn btn-outline-light my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#login-form">Login</button>
    </div>
  </nav>
</header>

<main class="container mt-4">
  <section class="mb-4">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Add Url</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    @for (urlinfo of this.urlinfos; track urlinfo.displayName) {
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h3 class="card-title">{{ urlinfo?.displayName }}</h3>
              <p class="card-text">URL: <a href="#">{{ urlinfo?.url }}</a></p>
            </div>
            <div class="col-md-3 circle-div">
              @if (urlinfo?.healthy) {
                <div class="status-circle healthy shad"></div>
              }
              @else {
                <div class="status-circle unhealthy shad"></div>
              }
            </div>
            <div class="col-md-2 edit-div">
              <button class="btn btn-info shad">Edit</button>
            </div>
          </div>
        </div>
      </div>
    }
  </section>
</main>

<!-- Modal Code -->
<div id="login-form" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="my-form bg-dark">
          <h1 class="text-center">Login form</h1>
          <form action="#">
            <div class="mb-3 mt-3">
              <label for="email">Username</label>
              <input type="email" class="form-control login-form">
            </div>
            <div class="mb-3 mt-3">
              <label for="password">Password</label>
              <input type="password" class="form-control login-form">
            </div>
            <button type="button" class="btn btn-light mt-3">LOGIN</button>
            <p class="signup">Not a member <a href="#">Signup</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>