/* NAVBAR */ 
.navbar {
    background-color: #004EA8;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand-image img {
    max-height: 38px;
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-right: -4px;
}

.navbar-brand {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 550;
}

.dropdown .btn {
    font-size: 1.3rem;
    background-color: #004EA8;
    color: white;
    border: none;
    margin: -20px;
    margin-right: 2px;
}

.dropdown .btn:hover {
    background-color: #3378b8;
}

.dropdown-menu {
    margin-left: -8.6rem;
}

/* SECTION */

main section {
    margin-top: 34px;
}
  
.input-group {
    position: relative;
}
  
.search-urls {
    border-radius: 0px;
    padding-left: 30px;
    border: 1px solid #979797;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
  
.search-urls:focus {
    border-color: #004EA8;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.4);
    z-index: -2; 
}
  
.search-urls::placeholder {
    color: #999;
}
  
.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-size: 0.75em;
    color: #aaa;
    pointer-events: none;
}

.add-urls {
    border-radius: 0%;
    background-color: #004EA8;
    border-color: #004EA8;
    color: white;
}

/* MAIN BODY */

.table-container {
    max-height: 63vh;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.table-container::-webkit-scrollbar {
    width: 8px;
}

thead th {
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    background-color: #80abd3;
    z-index: 1;
}

th .btn {
    font-size: 0.9rem;
    color: inherit;
    font-weight: bold;
}

th i {
    font-size: 0.9rem;
    font-weight: 1000;
}

table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}
  
/* Buttons */
.actions-buttons button {
    margin-right: 0.2rem;
    border: none;
    border-radius: 0%;
}

.edit-btn {
    background-color: #004EA8;
}

.delete-btn {
    background-color: red;
}
  
/* FOOTER */

.custom-border {
    border-top: 1px solid #333;
}

.center-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}