<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Healthcheck app</a>
      @if (this.authService.getCurrentUser() == null) {
        <button type="button" class="btn btn-outline-light my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#login-form">Login</button>
      }
      @else {
        <div>
          <span class="me-3 userCred">{{this.authService.getCurrentUser()?.firstName}} {{this.authService.getCurrentUser()?.lastName}}</span>
          <button type="button" class="btn btn-outline-light my-2 my-sm-0" (click)="loggout()">Logout</button>
        </div>
      }
    </div>
  </nav>
</header>

<main class="container mt-4">
  <section class="mb-4">
    <div class="row">
      <div class="col-md-8">
        <div class="input-group">
          <input type="text" class="form-control search-urls" (ngModelChange)="searchForUrl(key.value)" #key="ngModel" ngModel placeholder="Search...">
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <button class="btn btn-primary add-urls" type="button" data-bs-toggle="modal" data-bs-target="#add-form">Add Url</button>
      </div>
    </div>
  </section>

  <section>
    @for (urlinfo of this.urlinfos; track urlinfo.id) {
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h3 class="card-title">{{ urlinfo?.displayName }}</h3>
              <p class="card-text">URL: <a href="#">{{ urlinfo?.url }}</a></p>
            </div>
            <div class="col-md-3 circle-div">
              @if (urlinfo?.healthy) {
                <div class="status-circle healthy shad"></div>
              }
              @else {
                <div class="status-circle unhealthy shad"></div>
              }
            </div>
            <div class="col-md-2 edit-div">
              <div class="float-right btn-group btn-group-sm">
                <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" data-bs-toggle="modal" data-bs-target="#editModal" (click)="openEditModal(urlinfo.displayName, urlinfo.url, urlinfo.id)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openDeleteModal(urlinfo.id)"><i class="fa fa-times"></i></a>
             </div>
            </div>
          </div>
        </div>
      </div>
    }
  </section>
</main>

@if (urlinfos.length == 0) {
  <div class="col-lg-12 col-md-12 col-xl-12 p-4">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO SAVERD URLS!</h4>
      <p>No urls were found.</p>
    </div>
  </div>
}

<app-login></app-login>
<app-add></app-add>
<app-delete [inputFromParent]="idToDelete"></app-delete>
<app-edit [urlInfo]="urlInfoToUpdate" [inputFromParent]="idToUpdate"></app-edit>