/* NAVBAR */ 
.navbar {
    background-color: #004EA8;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand-image img {
    max-height: 38px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-right: -4px;
}

.navbar-brand {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 550;
}

.dropdown .btn {
    font-size: 2.1rem;
    background-color: #004EA8;
    color: white;
    border: none;
    margin: -20px;
    margin-right: 8px;
}

.dropdown-menu {
    margin-left: -8.6rem;
}