<!-- Modal Code (edit) -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="editModalLabel">Edit Item</h6>
        <button type="button" class="btn-close btn-close-white" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body edit-body">
        <div class="my-form">
          <form id="add-item-form-update" [formGroup]="editForm" autocomplete="off">
            <p class="invalid-input mt-3"><span>{{this.errEdit}}</span></p>
            <div class="form-group input-modals">
              <label for="item-name-update">Name</label>
              <input type="text" class="form-control modal-forms add-form-control" id="item-name-update" formControlName="displayName" placeholder="Enter name">
            </div>
            @if (editForm.controls["displayName"].invalid && (editForm.controls["displayName"].touched)) {
              <p class="invalid-input">
                  <span>Enter valid input</span>
              </p>
            }
            <div class="form-group input-modals">
              <label for="item-url-update">URL</label>
              <input type="url" class="form-control modal-forms add-form-control" id="item-url-update" formControlName="url" placeholder="Enter url">
            </div>
            @if (editForm.controls["url"].invalid && (editForm.controls["url"].touched)) {
              <p class="invalid-input">
                  <span>Enter valid input</span>
              </p>
            }
            <div class="form-group input-modals">
              <label for="item-frequency-update">Frequency (minutes)</label>
              <input type="number" class="form-control form-control-sm add-form-control modal-forms" id="item-frequency-update" placeholder="Enter frequency" formControlName="frequency">
            </div>
            @if (editForm.controls["frequency"].invalid && (editForm.controls["frequency"].touched)) {
              <p class="invalid-input">
                  <span>Enter valid input</span>
              </p>
            }
          </form>
        </div>
        <div class="centerButton">
          <button type="submit" class="btn submitButton btn-sm btn-primary" [disabled]="editForm.invalid || editForm.pristine" (click)="update()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>