.modal-header {
    background-color: #004EA8;
    height: 50px;
    color: white;
}

.modal-header h6 {
    font-weight: 400;
}

.userModals {
    background-color: #e1e4e6;
}

.userModals2 {
    background-color: #e1e4e6;
    border-radius: 0.5rem;
}


.centerButton {
    text-align: center;
}

.submitButton {
    margin-bottom: 30px;
    border-radius: 0%;
    background-color: #004EA8;
    border: none;
}

.modal-forms:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
    border-color: #ccc;
}

.input-modals {
    margin-bottom: 25px;
}

.my-form label {
    margin-bottom: 2px;
    font-size: small;
}

.delete-button {
    border-radius: 0%;
}

.editUsersEmails {
    border-radius: 0%;
    background-color: #004EA8;
    border: none;
}

/* ERRORS */

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-15px;
    display: block;
}

.custom-spinner {
    border-top-color: #004EA8;
    border-bottom-color: #004EA8;
    border-left-color: #004EA8;
}