<div class="modal fade" #emailsc id="editEmailsModal" tabindex="-1" aria-labelledby="emailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="addModalLable">Emails list</h6>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
          <div class="my-form">
            <form id="email-add" [formGroup]="emailForm" autocomplete="off">
              <p class="invalid-input mt-3"><span>{{this.errEmail}}</span></p>
              <div class="form-group row input-modals">
                <div class="col-md-8">
                  <input type="text" class="form-control modal-forms form-control-sm" id="add-email" formControlName="email" placeholder="Enter email">
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-sm btn-primary email-button" [disabled]="emailForm.invalid" (click)="addEmail()">Add</button>
                </div>
              </div>
              @if (emailForm.controls["email"].invalid && (emailForm.controls["email"].touched)) {
                <p class="invalid-input">
                    <span>Enter valid email</span>
                </p>
              }
            </form>
          </div>
          @if (!this.loading) {
            <div class="list-group">
              @for (email of this.emails; track email.id) {
                <div class="list-group-item">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-column">
                          <h6 class="mb-1 small">{{email.email}}</h6>
                      </div>
                      <button (click)="onDeleteClick(email.id)" class="btn btn-primary btn-sm editUsersEmails"
                            [ngStyle]="{'background-color': confirmingEmailId === email.id ? 'red' : ''}">
                            {{ confirmingEmailId === email.id ? 'Confirm' : 'Delete' }}</button>
                  </div>
                </div>
              }   
            </div>
          }
          @else {
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-border custom-spinner" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          }
          @if (!this.loading && this.emails.length == 0) {
            <label>No connected emails</label>
          }
        </div>
      </div>
    </div>
  </div>
